.product__images {
  background: rgba(255, 255, 255, 0.2);
  padding: 12vw 8vw;
  margin: 4rem 0;
  border-radius: calc(var(--curve) * 1px);
  @media (min-width: 1550px) {
    padding: 10vw 8vw;
    margin: 6rem 0;
  }
  @media (min-width: 1850px) {
    padding: 9vw 7vw;
  }
  &--title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    & h2 {
      color: var(--white);
      font-size: 1.5rem;
      margin: 0;
      padding: 0;
      @media (min-width: 1050px) {
          font-size: 2.25rem;
          width: 50%;
      }
      @media (min-width: 1250px) {
        font-size: 2.5rem;
      }
      @media (min-width: 1450px) {
          font-size: 3.25rem;
      }
      @media (min-width: 1550px) {
        font-size: 3.5rem;
      }
      @media (min-width: 1650px) {
        font-size: 3.75rem;
      }
      @media (min-width: 1850px) {
        font-size: 4rem;
      }
    }
    & .product__images--subtitle {
      color: var(--grey-dark);
      font-size: .75rem;
      @media (min-width: 1050px) {
        width: 45%;
        margin-left: auto;
      }
    }
  }
  & .swiper-gallery {
    max-height: 1200px;
    overflow: hidden;
  }
  &--gallery {
    overflow: hidden;
    margin-top: 3rem;
    & .image {
      width: 640px;
      height: 640px;
      & a {
        display: block;
        background: rgba(255, 255, 255, 0.1);
        text-align: center;
        padding: 2rem;
        border-radius: calc(var(--curve) * .5px);
        & img {
          width: 640px;
          height: auto;
        }
      }
    }
  }
  &--video-container {
    margin: 0 auto;
    @media (min-width: 1650px) {
      width: 80%;
      height: 80%;
    }
    @media (min-width: 1850px) {
      width: 70%;
      height: 70%;
    }
    & .product__images--video-wrapper {
      border-radius: calc(var(--curve) * 0.5px);
      margin-top: 12vw;
      overflow: hidden;
      position: relative;
      padding-top: 56.25%;
      @media (min-width: 1550px) {
        margin-top: 10vw;
      }
      @media (min-width: 1850px) {
        margin-top: 9vw;
      }
      & iframe {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        margin: 0;
        top: 0;
        left: 0;
        border: none;
        border-radius: calc(var(--curve) * 0.5px);
      }
    }
  }
}

#product-gallery {
  --f-carousel-slide-width: calc(94% / 3);
  --f-carousel-spacing: 0;

  --f-button-next-pos: 30px;
  --f-button-prev-pos: 30px;

  --f-button-width: 44px;
  --f-button-height: 44px;
  --f-button-border-radius: 50%;

  --f-button-color: #fff;
  --f-button-hover-color: #fff;
  --f-button-active-color: #fff;

  --f-button-bg: rgba(0, 0, 0, 0.5);
  --f-button-hover-bg: rgba(0, 0, 0, 0.8);
  --f-button-active-bg: rgba(0, 0, 0, 0.8);

  --f-button-svg-width: 22px;
  --f-button-svg-height: 22px;
  --f-button-svg-stroke-width: 3;
}

#product-gallery .f-carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  padding: 3% 10px;
}

#product-gallery img {
  border-radius: 20%;
  transform: scale(var(--f-scale, 1)) translateX(var(--f-translateX, 0));
  background: #fff;
}