.features {
  max-width: 1000px;
  padding: 12vw 0;
  margin: 0 auto;
  @media (min-width: 1550px) {
    padding: 10vw 8vw;
  }
  @media (min-width: 1850px) {
    padding: 9vw 7vw;
  }
  width: 100%;
  font-size: 0.85rem;
  @media (min-width: 768px) {
    font-size: 1rem;
  }
  & tr {
    & td {
      padding: 0.65rem 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      &.name {
        color: var(--grey-dark)
      }
      &.value {
        color: var(--white)
      }
    }
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}