.auth, .singup, .forgotpassword {
  width: 100%;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth__title, .singup__title, .forgotpassword__title {
  color: var(--white);
  letter-spacing: 3px;
  font-weight: 600;
  line-height: 2;
  margin-bottom: 2rem;
}

.wa-login-form-wrapper input[type="text"],
.wa-login-form-wrapper input[type="email"],
.wa-login-form-wrapper input[type="password"],
.wa-signup-form-wrapper input[type="text"],
.wa-signup-form-wrapper input[type="email"],
.wa-signup-form-wrapper input[type="password"],
.wa-forgotpassword-form-wrapper input[type="text"],
.wa-forgotpassword-form-wrapper input[type="email"],
.wa-forgotpassword-form-wrapper input[type="password"] {
  width: 80vw;
  max-width: 100%;
  padding: 0.2rem 0 0.7rem 0;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 2;
  background: none;
  border-style: solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(90deg, rgba(172,174,175,0) 0%, rgba(172,174,175,0.15) 10%, rgba(172,174,175,0.3) 20%, rgba(172,174,175,0.3) 80%, rgba(172,174,175,0.15) 90%, rgba(172,174,175,0) 100%);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  color: var(--grey-dark);
  @media (min-width: 768px) {
    width: 20rem;
  }
}

.wa-login-form-wrapper .wa-field .wa-name {
  display: block;
  margin-bottom: 0.2rem;
  font-size: 0.875rem;
  line-height: 1;
  color: var(--white);
  letter-spacing: 1px;
}

.wa-login-form-wrapper .wa-field.wa-required .wa-name:after {
  content: " *";
  color: var(--red);
}

.wa-signup-form-wrapper .wa-field:first-child, .wa-login-form-wrapper .wa-field:first-child, .wa-login-form-wrapper .wa-field:first-child, .wa-forgotpassword-form-wrapper .wa-field:first-child {
  margin-top: 0;
}

.wa-signup-form-wrapper input[type="submit"], .wa-login-form-wrapper input[type="submit"], .wa-forgotpassword-form-wrapper input[type="submit"]{
  transition: border-color 200ms linear;
  border-color: #5e5e5e;
  outline: 0;
  background: none;
  border-style: solid;
  border-width: 1px;
  color: var(--white);
  width: 100%;
  padding: 1rem 0.5rem;
  border-radius: 10rem;
}

.wa-buttons-wrapper {
  margin: 3rem 0 0;
}

.wa-field-remember-me {
  margin: 0.5rem 0 0 0 !important;

  & input[type="checkbox"] {
    margin: 0 1rem 0 0;
  }

}

.wa-login-form-wrapper .wa-login-form-fields .wa-login-forgotpassword-url {
  display: block;
  margin-top: 2rem;
}

.wa-login-form-wrapper .wa-field, .wa-signup-form-wrapper .wa-field, .wa-forgotpassword-form-wrapper .wa-field {
  margin: 1.7rem 0 0 0;
}

.wa-login-form-wrapper .wa-login-form-actions .wa-signup-url, .wa-signup-form-wrapper .wa-signup-form-actions .wa-login-url, .wa-forgotpassword-form-wrapper .wa-forgotpassword-form-actions .wa-login-url {
  margin-top: 1.5rem;
  text-align: center;
}

.wa-signup-form-wrapper input[type="submit"], .wa-login-form-wrapper input[type="submit"], .wa-forgotpassword-form-wrapper input[type="submit"] {
  transition: all 200ms linear;
  border-color: #5e5e5e;
  outline: 0;
  background: none;
  border-style: solid;
  border-width: 1px;
  color: var(--white);
  width: 100%;
  padding: 1rem 0.5rem;
  border-radius: 10rem;
}

.wa-signup-form-wrapper input[type="submit"]:hover, .wa-login-form-wrapper input[type="submit"]:hover, .wa-forgotpassword-form-wrapper input[type="submit"]:hover {
  border-color: var(--white);
  background: var(--white);
  cursor: pointer;
  color: var(--black);
}

.wa-signup-form-wrapper input[type="submit"]:focus, .wa-login-form-wrapper input[type="submit"]:focus, .wa-forgotpassword-form-wrapper input[type="submit"]:focus {
  border-color: var(--blue);
  background: var(--blue);
  color: var(--white);
}

.wa-forgotpassword-form-wrapper .wa-field .wa-forgotpassword-button {
  display: block;
  vertical-align: top;
  margin-top: 3rem;
}