input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--white);
  -webkit-box-shadow: 0 0 0 1000px #19272b00 inset;
  transition: background-color 5000s ease-in-out 0s;;
  text-transform: capitalize;
}

input:-internal-autofill-selected {
  background: none !important;
  background-color: none !important;
}

input:-internal-autofill {
  background: none !important;
  background-color: none !important;
}