::-webkit-scrollbar {
  width: .35rem;
  height: .35rem;
  background: var(--black);
}
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-thumb {
  background:  var(--blue);
}
::-webkit-scrollbar-corner {
  background: var(--black);
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--black);
}
