.club-call {
  display: block;
  width: 100%;
  margin-top: 5rem;
  padding: 3.5rem 0;
  background: rgb(255, 133, 0);
  background: -moz-linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
  background: linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--base-color)", endColorstr=" var(--base-color-purple) ", GradientType=1);
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 1050px) {
      margin-left: auto;
      margin-right: auto;
      max-width: 1300px;
      flex-direction: row;
      height: 100px;
    }
  }
  &__description {
    margin: 0 auto 20px;
    max-width: 75vw;
    text-align: center;

    @media (min-width: 768px) {
      max-width: 650px;
    }
    @media (min-width: 1050px) {
      margin: 0;
      max-width: none;
      text-align: left;
    }
  }
  &__title {
    margin: 0 0 2rem 0;
    font-size:1.6rem;
    font-weight: 500;
    color: var(--white);
    letter-spacing: 2px;
    @media (min-width: 393px) {
      font-size: 2rem;
    }
    @media (min-width: 768px) {
      font-size: 2.5rem;
    }
    @media (min-width: 1050px) {
      margin: 5px 0;
      font-size: 1.55rem;
    }
  }

  &__subtitle {
    color: var(--black);
    font-weight: 500;
    @media (min-width: 393px) {
      font-size: 1.1rem;
    }
    @media (min-width: 768px) {
      font-size: 1.35rem;
    }
    @media (min-width: 1050px) {
      font-size: 15px;
    }
  }
  &__btn {
    display: flex;
    width: 220px;
    margin: 0.65rem;
    outline: none;
    min-height: 2.6667rem;
    height: 2.6667rem;
    text-align: center;
    font-size: 1rem;
    color: var(--white) !important;
    border-radius: 5px;
    background-color: #121212;
    border: none;
    background-image: none;
    text-decoration: none;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
    @media (min-width: 768px) {
      padding: 0.7rem 1.5rem;
      min-height: 3rem;
      height: 3rem;
      width: 320px;
    }
    @media (min-width: 1050px) {
      margin: 0;
      padding: 0.8rem 1.5rem;
      font-size: 1rem;
      width: 220px;
    }
    &:hover {
      background-color: var(--white);
      color: #121212 !important;
    }
  }
  @media (min-width: 1050px) {
    height: 100px;
    padding: 0;
  }
}


.series-agon-pro {
  & .club-call {
    background: var(--base-color-agon-pro-2);
    background: -moz-linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%);
    background: -webkit-linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%);
    background: linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--base-color-agon-pro-1)",endColorstr="var(--base-color-agon-pro-3)",GradientType=1);
    &__title {
      color: var(--white);
    }
  }
}

.series-agon {
  & .club-call {
    background: var(--base-color-agon-2);
    background: -moz-linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%);
    background: -webkit-linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%);
    background: linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--base-color-agon-1)",endColorstr="var(--base-color-agon-3)",GradientType=1);
    &__title {
      color: var(--white);
    }
  }
}

.series-b2b {
  & .club-call {
    background:var(--aoc-b2b);
    &__title {
      color: var(--white);
    }
  }
}