footer {
  background: var(--black-dark);
  color: var(--grey-dark);
  padding: 1rem;
  border-radius: 20px;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  @media (min-width: 768px) {
    padding: 2rem;
  }
  @media (min-width: 1050px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  & .logo {
    width: 240px;
    @media (min-width: 375px) {
      width: 250px;
    }
  }
  & nav.footer-menu {
    width: 240px;
    margin: 1rem 0 0 0;
    @media (min-width: 375px) {
      width: 250px;
      margin: 2rem 0 0 0;
    }
    @media (min-width: 768px) {
      min-width: 265px;
    }
    & h2 {
      font-size: 0.875rem;
      line-height: 1.15;
      font-weight: 500;
      color: var(--white);
      margin: 0 0 1rem 0;
      @media (min-width: 375px) {
        font-size: 1rem;
        line-height: 1.35;
        letter-spacing: 1px;
      }
      @media (min-width: 768px) {
        margin: 0 0 2rem 0;
      }
    }
    & .footer-menu-item {
      line-height: 1.75;
      & a {
        font-size: 0.75rem;
        line-height: 1.1;
        font-weight: 300;
        color: var(--grey-dark);
        @media (min-width: 375px) {
          font-size: 0.875rem;
          letter-spacing: 1px;
        }
        &:hover {
          color: var(--white);
        }
      }
    }
  }
}