header nav {
  display: none;
  @media (min-width: 1050px) {
    display: block;
    width: 100%;
    & ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      margin-left: 2rem;
      list-style: none;
      width: 100%;
      & li {
        margin-right: 2rem;
      }
    }
  }
}