.close-button {
  width: 1.25rem;
  height: 1.25rem;
  & svg {
    width: 1.25rem;
    height: 1.25rem;
    transform: rotate(45deg);
    fill: var(--base-color);
  }
  &:hover {
    fill: var(--white);
    & svg {
      fill: var(--white);
    }
  }
}


.series-agon-pro {
  & .close-button {
    & svg {
      fill: var(--base-color-agon-pro-2);
    }
    &:hover {
      fill: var(--white);
      & svg {
        fill: var(--white);
      }
    }
  }
}

.series-agon {
  & .close-button {
    & svg {
      fill: var(--base-color-agon-2);
    }
    &:hover {
      fill: var(--white);
      & svg {
        fill: var(--white);
      }
    }
  }
}

.series-b2b {
  & .close-button {
    & svg {
      fill: var(--aoc-b2b);
    }
    &:hover {
      fill: var(--white);
      & svg {
        fill: var(--white);
      }
    }
  }
}