.wa-order-cart-wrapper .wa-products .wa-product {
  border-bottom: 1px solid var(--blue-secondary) !important;
  padding: 2rem 0 !important;
}
.wa-order-cart-wrapper .wa-cart-details {
  margin: 3rem 0 0 !important;
}

.wa-cart-body .wa-cart-content .wa-products .wa-product .is-more-than-limit {}

.wa-order-cart-wrapper .wa-products .wa-product.is-out-of-stock:after {
  background: rgba(240,66,66, .45) !important;
}