.wa-order-form-wrapper.is-locked, .wa-order-cart-wrapper.is-locked {
  filter: blur(0.45rem);
}

.wa-order-form-wrapper.is-locked:after, .wa-order-cart-wrapper.is-locked:after {
  background: none !important;
}

.wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .s-message {
  color: var(--white) !important;
}

.wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .s-message .gray {
  color: var(--grey-dark) !important;
}

.wa-order-form-wrapper .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper {
  border: none !important;
  background: var(--purple-dark) !important;
}

.wa-order-form-wrapper .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper:hover, .wa-order-form-wrapper .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper.is-active {
  border-color: var(--purple-darkest) !important;
  background: var(--purple-darkest) !important;
}

.wa-order-cart-wrapper .wa-products .wa-product .wa-actions .wa-action:hover {
  color: var(--white) !important;
}

.wa-order-cart-wrapper .wa-products .wa-product .wa-actions .wa-action:hover .wa-icon, .wa-tooltip:not(.custom):after {
  background: var(--red) !important;
}

.wa-tooltip.bottom:not(.custom):before {
  border-bottom-color: var(--red) !important;
}

.wa-tooltip:not(.custom):after {
  border-radius: 1rem;
  padding: 0.65rem 1rem !important;
}

.wa-order-cart-wrapper .wa-cart-details .wa-coupon-section .wa-input {
  background: rgba(255, 255, 255, 0.1);
  border-radius: calc(var(--curve) * 1px);
  border: none;
  padding: 0.5rem 1rem !important;
}
.wa-order-cart-wrapper .wa-cart-details .wa-coupon-section .wa-input:focus, .wa-order-cart-wrapper .wa-cart-details .wa-coupon-section .wa-input:active {
  background: var(--white);
}

.wa-order-cart-wrapper .wa-cart-details .wa-coupon-section .wa-button {
  background: var(--blue);
  border-radius: calc(var(--curve) * 1px);
  border: none;
  color: var(--white);
  padding: 0.5rem 1rem !important;
  &:hover {
    color: var(--black-dark);
    background: var(--white);
    cursor: pointer;
  }
}

.wa-select {
  height: auto !important;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  line-height: 1.3;
  padding: 0.75rem 1rem !important;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: none;
  box-shadow: none;
  border-radius: calc(var(--curve) * 0.5px);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.1) !important;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  outline: none;
}
.wa-select::-ms-expand { display: none; }
.wa-select:hover { border: none; }
.wa-select:focus { border: none;
  box-shadow: 0 0 1px 3px var(--blue);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: var(--black-dark);
  background-color: var(--white) !important;
  outline: none;
}
.wa-select option { font-weight:normal; }
*[dir="rtl"] .wa-select, :root:lang(ar) .wa-select, :root:lang(iw) .wa-select {
  background-position: left .7em top 50%, 0 0;
  padding: .6em .8em .5em 1.4em;
}

.wa-order-form-wrapper .wa-step-region-section .wa-required-text, .wa-field-wrapper .wa-label, .wa-order-form-wrapper .wa-step-shipping-section .wa-delivery-types-section > .wa-header, .wa-order-form-wrapper .wa-step-details-section .wa-details-description, .wa-order-form-wrapper .wa-step-shipping-section .wa-delivery-variants-section > .wa-header {
  color: var(--grey-dark) !important;
}

.wa-order-form-wrapper .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper:hover, .wa-order-form-wrapper .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper.is-active {
  background: var(--purple-darkest) !important;
  border: none !important;
  box-shadow: none !important;
}

.wa-order-form-wrapper .wa-step-details-section .wa-details-rates-section .wa-table > .wa-row > .wa-cell.wa-cell-name .wa-name {
  color: var(--blue) !important;
}

.wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .wa-total-section .wa-item .wa-name, .wa-order-form-wrapper .wa-step-details-section .wa-details-rates-section .wa-table > .wa-row .wa-delivery-price
, .wa-order-form-wrapper .wa-step-details-section .wa-details-rates-section .wa-table > .wa-row > .wa-cell.wa-cell-value {
  color: var(--green) !important;
}

.wa-order-form-wrapper .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper .wa-price, .wa-order-form-wrapper .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper .wa-date {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  font-weight: 700 !important;
}

.wa-order-form-wrapper .wa-step-shipping-section .wa-delivery-types-section .wa-types-list .wa-type-wrapper .wa-date {
  color: var(--black) !important;
  font-weight: 300 !important;
}

.wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .wa-total-section .wa-item.wa-item-total .wa-name {
  color: var(--white) !important;
  font-weight: 700 !important;
}

.wa-order-form-wrapper .wa-step-payment-section .wa-methods-list.wide .wa-method-wrapper {
  padding: 1.5rem !important;
  background: var(--purple-darkest) !important;
  border: none !important;
  margin-top: 0.5rem;
  border-radius: calc(var(--curve) * 0.5px) !important;
}

.wa-order-form-wrapper .wa-step-payment-section .wa-methods-list.wide .wa-method-wrapper.is-active, .wa-order-form-wrapper .wa-step-payment-section .wa-methods-list.wide .wa-method-wrapper.is-active:hover {
  box-shadow: none !important;
  background: var(--white) !important;
}

.wa-order-form-wrapper .wa-step-payment-section .wa-methods-list .wa-method-wrapper .wa-method .wa-image-wrapper {
  display: none !important;
}


.wa-order-form-wrapper .wa-step-payment-section .wa-methods-list.wide .wa-method-wrapper:hover .wa-method-body .wa-payment-name a, .wa-order-form-wrapper .wa-step-payment-section .wa-methods-list.wide .wa-method-wrapper .wa-method-body .wa-payment-name a {
  font-size: 1.1rem !important;
  font-weight: 700 !important;
  color: var(--white) !important;
}
.wa-order-form-wrapper .wa-step-payment-section .wa-methods-list .wa-method-wrapper .wa-method .wa-method-body .wa-description {
  font-size: .85rem !important;
  color: var(--black-dark) !important;
}

.wa-order-form-wrapper .wa-step-payment-section .wa-methods-list.wide .wa-method-wrapper.is-active {
  font-size: 1.1rem !important;
  font-weight: 700 !important;
  color: var(--purple-darkest) !important;
}

.wa-order-form-wrapper .wa-step-payment-section .wa-methods-list.wide .wa-method-wrapper:hover {
  background: var(--blue) !important;
}

.wa-order-form-wrapper .wa-step-payment-section .wa-methods-list .wa-method-wrapper .wa-method .wa-method-body .wa-description {
  font-size: .85rem !important;
  color: var(--black-dark) !important;
}

.wa-order-form-wrapper .wa-step-confirm-section .wa-section-body .wa-submit-button {
  color: var(--white);
  text-decoration: none;
  outline: none;
  background: var(--blue);
  border-radius: calc(var(--curve) * 1px);
  padding: 1rem !important;
  display: block;
  font-size: 0.85rem !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  border: none !important;
  cursor: pointer;
  &:hover {
    color: var(--black-dark);
    background: var(--white);
  }
}

.wa-order-form-wrapper .wa-step-payment-section .wa-methods-list.wide {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  gap: 1rem;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

//форма удаления товаров в корзине

#shop .wa-dialog-background {
  display: none;
}

#shop .wa-order-dialog {
  display: flex;
  justify-content: flex-start;
  background: var(--f-spinner-color-2);
}

#shop .wa-dialog-body {
  position: initial;
  overflow: hidden;
  height: 100vh!important;
  min-width: 280px;
  width: 85vw;
  max-width: 450px;
  border: none;
  box-shadow: rgba(1, 2, 16, 0.5215686275) 0 8px 24px;
}

#shop .wa-dialog-body .wa-dialog-header {
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
  background: var(--grey);
  text-transform: uppercase;
  border-bottom: 1px solid var(--grey-dark);
}

#shop .wa-dialog-body .wa-dialog-header .wa-header {
  font-size: 1.3rem!important;
  line-height: initial!important;
  font-weight: 600!important;
}

#shop .wa-dialog-body .wa-close-wrapper .wa-icon {
  display: none;
}

#shop .wa-dialog-body .wa-close-wrapper {
  display: inline-block;
  width: 2rem;
  cursor: pointer;
  height: 2rem;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnN2Z2pzPSJodHRwOi8vc3ZnanMuY29tL3N2Z2pzIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIiBjbGFzcz0iIj48Zz48cGF0aCBmaWxsPSIjMjEyMTIxIiBkPSJNMTguODA3IDYuNjA3YTEgMSAwIDAgMC0xLjQxNC0xLjQxNEwxMiAxMC41ODYgNi42MDcgNS4xOTNhMSAxIDAgMSAwLTEuNDE0IDEuNDE0TDEwLjU4NiAxMmwtNS4zOTMgNS4zOTNhMSAxIDAgMSAwIDEuNDE0IDEuNDE0TDEyIDEzLjQxNGw1LjM5MyA1LjM5M2ExIDEgMCAwIDAgMS40MTQtMS40MTRMMTMuNDE0IDEyeiIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9IiI+PC9wYXRoPjwvZz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain !important;
  margin: 0;
  padding: 0;

  &:hover {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnN2Z2pzPSJodHRwOi8vc3ZnanMuY29tL3N2Z2pzIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIiBjbGFzcz0iIj48Zz48cGF0aCBmaWxsPSIjMDA5Y2Q2IiBkPSJNMTguODA3IDYuNjA3YTEgMSAwIDAgMC0xLjQxNC0xLjQxNEwxMiAxMC41ODYgNi42MDcgNS4xOTNhMSAxIDAgMSAwLTEuNDE0IDEuNDE0TDEwLjU4NiAxMmwtNS4zOTMgNS4zOTNhMSAxIDAgMSAwIDEuNDE0IDEuNDE0TDEyIDEzLjQxNGw1LjM5MyA1LjM5M2ExIDEgMCAwIDAgMS40MTQtMS40MTRMMTMuNDE0IDEyeiIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9IiI+PC9wYXRoPjwvZz48L3N2Zz4=);
  }
}

#shop .wa-dialog-body .wa-dialog-content {
  height: fit-content!important;
}

#shop .wa-dialog-body .wa-dialog-content p {
  font-size: 1.2rem;
  color: var(--black);
}

#shop .wa-dialog-body .wa-dialog-footer {
  display: flex;
  flex-direction: column;
}

#shop .wa-dialog-body .wa-dialog-footer button {
  height: 3rem;
  border-radius: calc(var(--curve) * 0.25px);
  outline: none;
  cursor: pointer;
  transition: 0.1s;

  &:first-child {
    margin: 0 0 10px 0;
    color: var(--white);
    background-color: var(--blue);
    border: 2px solid var(--blue);
  }

  &:last-child {
    background: none;
    border: 2px solid var(--grey);
    color: var(--black);
  }

  &:hover {
    transition: 0.1s;
    color: var(--white);
    background-color: var(--black-dark);
    border: 2px solid var(--black-dark);
  }
}

@media (min-width: 768px) {
  #shop .wa-dialog-body .wa-dialog-header {
    padding: 30px 40px;
  }

  #shop .wa-dialog-body .wa-close-wrapper {
    right: 2rem;
  }

  #shop .wa-dialog-body .wa-dialog-content {
    padding: 20px 40px 0;
  }

  #shop .wa-dialog-body .wa-dialog-footer {
    padding: 20px 40px 40px 40px;
  }
}

@media (min-width: 1050px) {
  #shop .wa-dialog-background {
    display: none;
  }

  #shop .wa-dialog-body {
    position: absolute;
    height: unset!important;
    max-width: 580px;
    border-radius: calc(var(--curve) * 1px);
  }
  #shop .wa-dialog-body .wa-dialog-footer {
    flex-direction: row;
  }

  #shop .wa-dialog-body .wa-dialog-footer button {
    padding: 0 2rem;

    &:first-child {
      margin: 0 20px 0 0;
    }

  }
}