.s-checkout-order-page {
  display: flex;
  justify-items: center;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  @media (min-width: 1250px) {
    display: grid;
    justify-items: center;
    align-items: start;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
  }
}


.s-order-section {
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: calc(var(--curve) * 1px);
  margin: 3rem 0;
  & .s-section-header {
    & .s-header {
      text-align: center;
      color: var(--black-dark);
      margin: 0 0 2rem 0;
      padding: 1rem;
      background: var(--white);
      border-radius: calc(var(--curve) * 1px);
    }
    & .s-delete-button {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      background: none;
      border-radius: calc(var(--curve) * 1px);
      max-width: 200px;
      padding: 0.5rem;
      margin: 0 0 3rem auto;
      border: 2px solid var(--black-dark);
      color: var(--grey);
      font-size: .85rem;
      font-weight: 300;
      transition: all .2s linear;
      & .s-delete-icon {
        display: block;
        width: 0.85rem;
        height: 0.85rem;
        margin-right: 0.5rem;
        fill: var(--red);
      }
      &:hover {
        color: var(--white);
        background: var(--black);
      }
    }
  }
  & .s-section-body {
    margin: 1rem 0;
  }
  & .s-section-footer {
    margin: 3rem 0 1rem 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: calc(var(--curve) * 1px);
    & .s-back-link {
      padding: 0.5rem;
      margin: 0 auto 1rem 0;
      max-width: 240px;
      text-align: center;
      & a {
        color: var(--white);
        text-decoration: none;
        outline: none;
        background: var(--blue);
        border-radius: calc(var(--curve) * 1px);
        padding: 1rem;
        display: block;
        font-size: .85rem;
        font-weight: 300;
      }
    }
  }
}