.category-name {
  font-size: 2rem;
  margin: 2rem 0;
  line-height: 1.15;
  color: var(--white);
  &.no-margin-bottom {
    margin-bottom: 0;
  }
  @media (min-width: 1050px) {
    margin: 4rem 0;
    font-size: 2.25rem;
  }
  @media (min-width: 1250px) {
    margin: 4rem 0;
    font-size: 2.5rem;
  }
  @media (min-width: 1450px) {
    font-size: 2.95rem;
  }
  @media (min-width: 1650px) {
    font-size: 4rem;
  }
}