.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 0;
  list-style-type: none;
  margin: 0 0 2rem 0;
  @media (min-width: 600px) {
    grid-template-columns: minmax(280px, 1fr) minmax(280px, 1fr);
  }
  @media (min-width: 768px) {
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
  }
  @media (min-width: 1050px) {
    grid-template-columns: minmax(280px, 1fr) minmax(280px, 1fr) minmax(280px, 1fr);
    margin: 0 0 3rem 0;
  }
  @media (min-width: 1350px) {
    grid-template-columns: minmax(280px, 1fr) minmax(280px, 1fr) minmax(280px, 1fr) minmax(280px, 1fr);
  }
  @media (min-width: 1850px) {
    grid-template-columns: minmax(280px, 1fr) minmax(280px, 1fr) minmax(280px, 1fr) minmax(280px, 1fr) minmax(280px, 1fr);
  }
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  transition: all 200ms linear;
  &:hover {
    box-shadow: rgba(1, 2, 16, 0.5215686275) 0 8px 24px;
  }
}

.card__image {
  width: 100%;
  height: 300px;
  margin-bottom: 150px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-size: auto, contain;
  background-position: 50% 40%;
  background-color: rgba(255, 255, 255, 0.1);
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
  min-height: 150px;
}

.card__header-text {
  width: 100%;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: calc(100% - 1px);
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__title {
  font-size: 1rem;
  margin: 0 0 0.5rem;
  color: var(--black-dark);
  height: 3rem;
}

.card__button {
  font-size: .8em;
  color: var(--blue);
  & .price {
    display: flex;
    padding: 0.5rem 0 1rem 0;
    font-size: 1.25rem;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 1.5rem;
  }
  & .out-of-stock, .compare-at-price {
    color: var(--red);
  }
  & .compare-at-price {
    font-size: 0.75rem;
    text-decoration: line-through;
    margin-left: 1rem;
  }
}

.addtocart__button, .plugin_arrived-button > a {
  color: var(--black-dark);
  border-radius: calc(var(--curve) * 1px);
  background: var(--blue);
  border: 2px solid var(--blue);
  padding: 1rem 2rem;
  width: 100%;
  outline: none;
  cursor: pointer;
  transition: all 300ms linear;
  font-size: .875rem;
  text-transform: uppercase;
  &:hover {
    border-color: var(--black-dark);
    background: var(--black-dark);
    color: var(--white);
  }
}

.plugin_arrived-button > a {
  display: block;
  text-align: center;
  width: auto;
  margin-top: 3rem;
  background: none;
  color: var(--grey-dark);
  border: 2px solid var(--grey);
  outline: none;
  box-sizing: border-box;
  &:hover {
    background: var(--black-dark);
    color: var(--white);
  }
}

.card__description {
  padding: 0 1.5rem;
  margin: 0 0 1.5rem 0;
  font-size: 0.85rem;
  color: #D7BDCA;
  font-weight: 300;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}