.gaming-gear{
  display: grid;
  gap: 1rem;
  flex-direction: column;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 150px 200px 250px;
  grid-template-areas:
        "mice mice"
        "mice mice"
        "keyboards keyboards"
        "mousepads chairs";
  margin: 2rem 0;
  @media (min-width: 393px) {
    grid-template-rows: 150px 150px 200px 300px;
  }
  @media (min-width: 768px) {
    grid-template-rows: 250px 150px 300px 350px;
    gap: 2rem;
  }
  @media (min-width: 1050px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-template-areas:
        "mice mice keyboards keyboards"
        "mice mice mousepads chairs";
  }
}
.mice, .keyboards, .mousepads, .chairs {
  border-radius: 20px;
  padding: 1rem;
  min-width: 100px;
  overflow: hidden;
  box-sizing: border-box;
  @media (min-width: 768px) {
    padding: 2rem;
  }
   & h2 {
     font-size: 0.75rem;
     line-height: 1.15;
     font-weight: 300;
     margin: 0;
     text-transform: uppercase;
     width: 90%;
     height: 100%;
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     align-content: flex-start;
     justify-content: space-between;
     color: var(--grey);
     @media (min-width: 375px) {
       font-size: 0.875rem;
       line-height: 1.35;
       letter-spacing: 1px;
     }
     @media (min-width: 420px) {
       width: 60%;
     }
     & strong {
       display: block;
       margin: 0.5rem 0;
       font-size: 1.25rem;
       line-height: 1.05;
       text-transform: none;
       color: var(--white);
       @media (min-width: 375px) {
         letter-spacing: 1.5px;
         line-height: 1.2;
         font-size: 1.45rem;
       }
       @media (min-width: 393px) {
         font-size: 1.55rem;
       }
     }
   }
}

.mice {
  grid-area: mice;
  background: var(--black-dark);
  background-size: 200px;
  background-position-x: 32vw;
  background-repeat: no-repeat;
  background-position-y: bottom;
  & h2 {
    justify-content: flex-start;
    & strong {
      font-size: 1.45rem;
      @media (min-width: 375px) {
        font-size: 1.65rem;
      }
      @media (min-width: 393px) {
        font-size: 1.85rem;
      }
      @media (min-width: 420px) {
        font-size: 1.7rem;
      }
      @media (min-width: 1050px) {
        font-size: 2.15rem;
      }
      @media (min-width: 1250px) {
        font-size: 2.35rem;
      }
      @media (min-width: 1550px) {
        font-size: 2.95rem;
      }
      @media (min-width: 1850px) {
        font-size: 3.15rem;
      }
    }
  }
  @media (min-width: 375px) {
    background-position-x: 35vw;
    background-position-y: 15vh;
  }
  @media (min-width: 420px) {
    background-position-x: 55vw;
    background-position-y: center;
    & h2 {
      justify-content: space-between;
    }
  }
  @media (min-width: 620px) {
    background-position-x: 50vw;
    background-size: 250px;
    & h2 {
      width: 50%;
    }
  }
  @media (min-width: 720px) {
    background-position-x: 48vw;
    background-size: 280px;
    & h2 {
      width: 40%;
    }
  }
  @media (min-width: 768px) {
    background-size: 350px;
  }
  @media (min-width: 1050px) {
    background-position-x: center;
    background-size: 70%;
    background-position-y: 260px;
    & h2 {
      justify-content: start;
      width: 90%;
    }
  }
  @media (min-width: 1150px) {
    background-size: 65%;
  }
  @media (min-width: 1250px) {
    background-size: 60%;
  }
  @media (min-width: 1550px) {
    background-position-y: 85%;
    background-size: 50%;
    background-position-x: 90%;
  }
  @media (min-width: 1850px) {
    background-size: 40%;
  }
  @media (min-width: 2000px) {
    & h2 {
      width: 60%;
    }
  }
  @media (min-width: 2150px) {
    background-size: 35%;
  }
}

.keyboards {
  grid-area: keyboards;
  background: var(--blue-secondary);
  background-size: 300px;
  background-position-x: 45vw;
  background-repeat: no-repeat;
  background-position-y: center;
  @media (min-width: 375px) {
    background-position-x: 50vw;
  }
  @media (min-width: 420px) {
    background-position-x: 50vw;
  }
  @media (min-width: 620px) {
    background-position-x: 45vw;
    background-size: 380px;
    & h2 {
      width: 50%;
    }
  }
  @media (min-width: 720px) {
    background-position-x: 45vw;
    background-size: 380px;
    & h2 {
      width: 40%;
    }
  }
  @media (min-width: 768px) {
    background-size: 500px;
  }
  @media (min-width: 850px) {
    background-size: 600px;
  }
  @media (min-width: 1050px) {
    background-position-x: 22vw;
    background-size: 100%;
  }
  @media (min-width: 1550px) {
    background-size: 80%;
  }
  @media (min-width: 1850px) {
    background-size: 70%;
  }
  @media (min-width: 2150px) {
    background-size: 60%;
  }
}

.mousepads {
  grid-area: mousepads;
  background: var(--blue-dark);
  background-size: 85%;
  background-position-x: right;
  background-repeat: no-repeat;
  background-position-y: center;
  @media (min-width: 1050px) {
    background-size: 60%;
    background-position-y: top;
  }
}

.chairs {
  grid-area: chairs;
  background: var(--purple);
  background-size: contain;
  background-position-x: 20vw;
  background-repeat: no-repeat;
  background-position-y: center;
  @media (min-width: 1050px) {
    background-position: calc(100% + 80px) 0;
  }
  @media (min-width: 1450px) {
    background-position: calc(100% + 40px) 0;
  }
}