.headset {
    display: grid;
    gap: 1rem;
    flex-direction: column;
    justify-items: stretch;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 250px;
    grid-template-areas:
        "headsets" "all-gaming-gears";
    margin: 2rem 0;
    @media (min-width: 768px) {
      gap: 2rem;
    }
    @media (min-width: 1050px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 650px;
      grid-template-areas:
        "headsets all-gaming-gears";
    }
  .headsets, .all-gaming-gears {
    position: relative;
    border-radius: 20px;
    min-width: 100px;
    box-sizing: border-box;
    & a {
      display: block;
      position: relative;
      padding: 1rem;
      height: 100%;
      box-sizing: border-box;
      border-radius: 20px;
      overflow: hidden;
      z-index: 3;
      @media (min-width: 768px) {
        padding: 2rem;
      }
      &:hover {
        box-shadow: rgba(1, 2, 16, 0.5215686275) 0 8px 24px;
      }
    }
    & h2 {
      font-size: 0.75rem;
      line-height: 1.15;
      font-weight: 300;
      margin: 0;
      text-transform: uppercase;
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: flex-start;
      justify-content: space-between;
      color: var(--grey);
      @media (min-width: 375px) {
        font-size: 0.875rem;
        line-height: 1.35;
        letter-spacing: 1px;
      }
      @media (min-width: 420px) {
        width: 60%;
      }
      & strong {
        display: block;
        margin: 0.5rem 0;
        font-size: 1.25rem;
        line-height: 1.05;
        text-transform: none;
        color: var(--white);
        @media (min-width: 375px) {
          letter-spacing: 1.5px;
          line-height: 1.2;
          font-size: 1.45rem;
        }
        @media (min-width: 393px) {
          font-size: 1.55rem;
        }
      }
    }
  }
  .headsets {
    grid-area: headsets;
    background: var(--white);
    background-size: 200px;
    background-position-x: 32vw;
    background-repeat: no-repeat;
    background-position-y: bottom;
    transition: background-color ease-in 100ms;
    &::before {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      width: 100%;
      height: 100%;
      background: radial-gradient(at 0% 15%, var(--purple), #B286FE65, #935CF625, #935CF600);
      z-index: 1;
      border-radius: 20px;
      transition: all ease-in 400ms;
    }
    &:hover {
      background-color: var(--purple-dark);
      &::before {
        display: block;
      }
    }

    & h2 {
      justify-content: flex-start;
      & strong {
        color: var(--black-dark);
        font-size: 1.45rem;

        @media (min-width: 375px) {
          font-size: 1.65rem;
        }
        @media (min-width: 393px) {
          font-size: 1.85rem;
        }
        @media (min-width: 420px) {
          font-size: 1.7rem;
        }
        @media (min-width: 1050px) {
          font-size: 2.15rem;
        }
        @media (min-width: 1250px) {
          font-size: 2.35rem;
        }
        @media (min-width: 1550px) {
          font-size: 2.95rem;
        }
        @media (min-width: 1850px) {
          font-size: 3.15rem;
        }
      }
    }
    @media (min-width: 375px) {
      background-position-x: 50vw;
      background-position-y: 12vh;
    }
    @media (min-width: 420px) {
      background-position-x: 50vw;
      background-position-y: center;
      & h2 {
        justify-content: space-between;
      }
    }
    @media (min-width: 620px) {
      background-position-x: 52vw;
      background-size: 260px;
      & h2 {
        width: 50%;
      }
    }
    @media (min-width: 720px) {
      background-position-x: 55vw;
      background-size: 280px;
      & h2 {
        width: 40%;
      }
    }
    @media (min-width: 768px) {
      background-size: 285px;
      background-position-y: -22px;
      background-position-x: 55vw;
    }
    @media (min-width: 1050px) {
      background-position-x: center;
      background-size: 90%;
      background-position-y: 230px;
      & h2 {
        justify-content: start;
        width: 90%;
      }
    }
    @media (min-width: 1150px) {
      background-size: 85%;
      background-position-y: 210px;
    }
    @media (min-width: 1250px) {
      background-size: 70%;
      background-position-y: 230px;
    }
    @media (min-width: 1450px) {
      background-position-y: 180px;
    }
    @media (min-width: 1550px) {
      background-position-y: 90%;
      background-size: 70%;
      background-position-x: 110%;
    }
    @media (min-width: 1850px) {
      background-size: 60%;
    }
    @media (min-width: 2000px) {
      & h2 {
        width: 60%;
      }
    }
  }
  .all-gaming-gears {
    grid-area: all-gaming-gears;
    background-color: var(--blue-secondary);
    background-size: 220px;
    background-position-x: 32vw;
    background-repeat: no-repeat;
    background-position-y: bottom;
    transition: background-color ease-in 100ms;
    &::before {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      width: 100%;
      height: 100%;
      background: radial-gradient(at 0% 15%, var(--blue), #42A5F065, #1077c625, #1077c600);
      z-index: 1;
      border-radius: 20px;
      transition: all ease-in 400ms;
    }
    &:hover {
      background-color: var(--blue-darkest);
      &::before {
        display: block;
      }
    }
    & h2 {
      justify-content: flex-start;
      & strong {
        font-size: 1.45rem;
        @media (min-width: 375px) {
          font-size: 1.65rem;
        }
        @media (min-width: 393px) {
          font-size: 1.85rem;
        }
        @media (min-width: 420px) {
          font-size: 1.7rem;
        }
        @media (min-width: 1050px) {
          font-size: 2.15rem;
        }
        @media (min-width: 1250px) {
          font-size: 2.35rem;
        }
        @media (min-width: 1550px) {
          font-size: 2.95rem;
        }
        @media (min-width: 1850px) {
          font-size: 3.15rem;
        }
      }
    }
    @media (min-width: 375px) {
      background-position-x: 35vw;
      background-position-y: 6vh;
    }
    @media (min-width: 420px) {
      background-position-x: 45vw;
      background-position-y: center;
      & h2 {
        justify-content: space-between;
      }
    }
    @media (min-width: 620px) {
      background-position-x: 50vw;
      background-size: 250px;
      & h2 {
        width: 50%;
      }
    }
    @media (min-width: 720px) {
      background-position-x: 53vw;
      background-size: 260px;
      & h2 {
        width: 40%;
      }
    }
    @media (min-width: 1050px) {
      background-position-x: center;
      background-size: 90%;
      background-position-y: 200px;
      & h2 {
        justify-content: start;
        width: 90%;
      }
    }
    @media (min-width: 1250px) {
      background-size: 70%;
      background-position-y: 225px;
    }
    @media (min-width: 1450px) {
      background-position-y: 185px;
    }
    @media (min-width: 1550px) {
      background-position-y: 80%;
      background-size: 65%;
      background-position-x: 85%;
    }
    @media (min-width: 1850px) {
      background-size: 55%;
    }
    @media (min-width: 2000px) {
      & h2 {
        width: 60%;
      }
    }
    @media (min-width: 2150px) {
      background-size: 55%;
    }
  }
}

.headsets:hover strong {
  color: var(--white)!important;
}