.headset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px auto 300px;
  grid-template-areas:
        "top-banner top-banner top-banner"
        "text text text"
        "side-banner side-banner side-banner";
  gap: 1rem;
  margin: 2rem 0;
  @media (min-width: 393px) {
    grid-template-rows: 200px auto 300px;
  }
  @media (min-width: 768px) {
    gap: 2rem;
    grid-template-rows: 300px auto 400px;
  }
  @media (min-width: 1050px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 350px;
    grid-template-areas:
    "top-banner side-banner"
    "text side-banner"
    "text side-banner";
  }

  &__top-banner, &__text, &__side-banner {
    border-radius: 20px;
    min-width: 100px;
    overflow: hidden;
    box-sizing: border-box;
  }

  &__top-banner, &__side-banner {
    position: relative;
    & a {
      display: block;
      height: 100%;
      width: 100%;
      padding: 1rem;
      box-sizing: border-box;
      z-index: 3;
      position: relative;
      &:hover {
        cursor: pointer;
      }

      @media (min-width: 768px) {
        padding: 2rem;
      }
    }
  }

  &__top-banner {
    grid-area: top-banner;
    background: var(--blue-secondary);
    min-height: 200px;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    @media (min-width: 620px) {
      background-size: 80%;
    }
    @media (min-width: 2150px) {
      background-size: 65%;
    }


      &::before {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        width: 100%;
        height: 100%;
        background: radial-gradient(at 0% 15%, var(--purple), #B286FE65, #935CF625, #935CF600);
        z-index: 1;
        border-radius: 20px;
        transition: all ease-in 400ms;
        cursor: pointer;
      }

      &:hover {
        background-color: var(--purple-dark);

        &::before {
          display: block;
        }
      }
  }

  &__text {
    grid-area: text;
    border-radius: 0;
    padding: 2rem 0;
    align-self: center;
    @media (min-width: 768px) {
      padding: 3rem 0;
    }

    & h2 {
      line-height: 1.1;
      font-weight: 300;
      margin: 0;
      font-size: 1.35rem;
      letter-spacing: 1px;
      color: var(--grey-dark);

      & > strong {
        font-size: 1.65rem;
        line-height: 1.1;
        margin-bottom: 1.5rem;
        display: block;
        color: var(--white);
        width: 80%;
        @media (min-width: 375px) {
          font-size: 1.65rem;
        }
        @media (min-width: 393px) {
          font-size: 1.85rem;
        }
        @media (min-width: 420px) {
          font-size: 1.7rem;
        }
        @media (min-width: 1050px) {
          font-size: 2.15rem;
        }
        @media (min-width: 1250px) {
          font-size: 2.35rem;
        }
        @media (min-width: 1550px) {
          font-size: 2.95rem;
        }
        @media (min-width: 1850px) {
          font-size: 3.15rem;
        }
      }

      @media (min-width: 375px) {
        font-size: 1.4rem;
      }
      @media (min-width: 768px) {
        width: 80%;
      }
    }
  }

  &__side-banner {
    grid-area: side-banner;
    background: var(--white);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;


      &::before {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        width: 100%;
        height: 100%;
        background: radial-gradient(at 0% 15%, var(--blue), #42A5F065, #1077c625, #1077c600);
        z-index: 1;
        border-radius: 20px;
        transition: all ease-in 400ms;
        cursor: pointer;
      }

      &:hover {
        background-color: var(--blue-darkest);

        &::before {
          display: block;
        }
      }

  }
}