.pc-components{
  display: grid;
  gap: 1rem;
  flex-direction: column;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 150px 200px 250px;
  grid-template-areas:
        "pc-cases pc-cases"
        "pc-cases pc-cases"
        "cpu-coolers cpu-coolers"
        "power-supplies fans";
  margin: 2rem 0;
  @media (min-width: 393px) {
    grid-template-rows: 150px 150px 200px 300px;
  }
  @media (min-width: 768px) {
    grid-template-rows: 250px 150px 300px 350px;
    gap: 2rem;
  }
  @media (min-width: 1050px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-template-areas:
        "cpu-coolers cpu-coolers pc-cases pc-cases"
        "power-supplies fans pc-cases pc-cases";
  }
}
.pc-cases, .cpu-coolers, .power-supplies, .fans {
  position: relative;
  border-radius: 20px;
  min-width: 100px;
  box-sizing: border-box;
  & a {
    display: block;
    position: relative;
    padding: 1rem;
    height: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
    z-index: 3;
    @media (min-width: 768px) {
      padding: 2rem;
    }
    &:hover {
      box-shadow: rgba(1, 2, 16, 0.5215686275) 0 8px 24px;
    }
  }
  & h2 {
    font-size: 0.75rem;
    line-height: 1.15;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    color: var(--grey);
    @media (min-width: 375px) {
      font-size: 0.875rem;
      line-height: 1.35;
      letter-spacing: 1px;
    }
    @media (min-width: 420px) {
      width: 60%;
    }
    & strong {
      display: block;
      margin: 0.5rem 0;
      font-size: 1.25rem;
      line-height: 1.05;
      text-transform: none;
      color: var(--white);
      @media (min-width: 375px) {
        letter-spacing: 1.5px;
        line-height: 1.2;
        font-size: 1.45rem;
      }
      @media (min-width: 393px) {
        font-size: 1.55rem;
      }
    }
  }
}

.pc-cases {
  grid-area: pc-cases;
  background: var(--black-dark);
  background-size: 200px;
  background-position-x: 32vw;
  background-repeat: no-repeat;
  background-position-y: bottom;
  transition: background-color ease-in 100ms;
  &::before {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: radial-gradient(at 0% 15%, var(--blue), #42A5F065, #1077c625, #1077c600);
    z-index: 1;
    border-radius: 20px;
    transition: all ease-in 400ms;
  }
  &:hover {
    background-color: var(--blue-darkest);
    &::before {
      display: block;
    }
  }
  & h2 {
    justify-content: flex-start;
    & strong {
      font-size: 1.45rem;
      @media (min-width: 375px) {
        font-size: 1.65rem;
      }
      @media (min-width: 393px) {
        font-size: 1.85rem;
      }
      @media (min-width: 420px) {
        font-size: 1.7rem;
      }
      @media (min-width: 1050px) {
        font-size: 2.15rem;
      }
      @media (min-width: 1250px) {
        font-size: 2.35rem;
      }
      @media (min-width: 1550px) {
        font-size: 2.95rem;
      }
      @media (min-width: 1850px) {
        font-size: 3.15rem;
      }
    }
  }
  @media (min-width: 375px) {
    background-position-x: 30vw;
    background-position-y: 13vh;
    background-size: 180px;
  }
  @media (min-width: 420px) {
    background-position-x: 50vw;
    background-position-y: center;
    background-size: 200px;
    & h2 {
      justify-content: space-between;
    }
  }
  @media (min-width: 620px) {
    background-position-x: 50vw;
    background-size: 240px;
    & h2 {
      width: 50%;
    }
  }
  @media (min-width: 720px) {
    background-position-x: 48vw;
    & h2 {
      width: 40%;
    }
  }
  @media (min-width: 768px) {
    background-size: 320px;
    background-position-x: 44vw;
  }
  @media (min-width: 1050px) {
    background-position-x: center;
    background-size: 70%;
    background-position-y: 260px;
    & h2 {
      justify-content: start;
      width: 90%;
    }
  }
  @media (min-width: 1150px) {
    background-size: 65%;
  }
  @media (min-width: 1250px) {
    background-size: 60%;
  }
  @media (min-width: 1550px) {
    background-position-y: 85%;
    background-size: 50%;
    background-position-x: 90%;
  }
  @media (min-width: 1850px) {
    background-size: 40%;
  }
  @media (min-width: 2000px) {
    & h2 {
      width: 60%;
    }
  }
  @media (min-width: 2150px) {
    background-size: 35%;
  }
}

.cpu-coolers {
  grid-area: cpu-coolers;
  background: var(--blue-secondary);
  background-size: 130px;
  background-position-x: 45vw;
  background-repeat: no-repeat;
  background-position-y: center;
  transition: background-color ease-in 100ms;
  &::before {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: radial-gradient(at 0% 15%, var(--purple), #B286FE65, #935CF625, #935CF600);
    z-index: 1;
    border-radius: 20px;
    transition: all ease-in 400ms;
  }
  &:hover {
    background-color: var(--purple-dark);
    &::before {
      display: block;
    }
  }
  @media (min-width: 375px) {
    background-position-x: 50vw;
  }
  @media (min-width: 420px) {
    background-position-x: 55vw;
    background-position-y: 10%;
    background-size: 165px;
  }
  @media (min-width: 620px) {
    background-position-x: 56vw;
    background-size: 175px;
    & h2 {
      width: 50%;
    }
  }
  @media (min-width: 720px) {
    & h2 {
      width: 40%;
    }
  }
  @media (min-width: 768px) {
    background-position-x: 55vw;
    background-size: 245px;
  }
  @media (min-width: 960px) {
    background-size: 255px;
  }
  @media (min-width: 1050px) {
    background-position-x: 25vw;
    background-size: 50%;
  }
  @media (min-width: 1350px) {
    background-size: 40%;
  }
  @media (min-width: 1550px) {
    background-size: 35%;
  }
  @media (min-width: 1850px) {
    background-position-x: 26vw;
    background-size: 30%;
    background-position-y: 15%;
  }
  @media (min-width: 2150px) {
    background-size: 28%;
    background-position-x: 28vw;
    background-position-y: 20%;
  }
  @media (min-width: 2350px) {
    background-size: 25%;
  }
}

.power-supplies {
  grid-area: power-supplies;
  background: var(--blue-dark);
  background-size: 85%;
  background-position-x: right;
  background-repeat: no-repeat;
  background-position-y: center;
  transition: background-color ease-in 100ms;
  &::before {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 70%;
    height: 100%;
    background: radial-gradient(at 0% 90%, var(--blue), #42A5F065, #1077c625, #1077c600);
    z-index: 1;
    border-radius: 20px 0 0 20px;
    transition: all ease-in 400ms;
  }
  &:hover {
    background-color: var(--blue-darkest);
    &::before {
      display: block;
    }
  }
  @media (min-width: 420px) {
    background-position-x: 12vw;
  }
  @media (min-width: 768px) {
    background-position-x: 16vw;
  }
  @media (min-width: 1050px) {
    background-size: 80%;
    background-position-y: center;
    background-position-x: 8vw;
  }
  @media (min-width: 1250px) {
    background-position-x: 9vw;
  }
  @media (min-width: 1350px) {
    background-size: 70%;
    background-position-x: 10vw;
  }
  @media (min-width: 1650px) {
    background-size: 85%;
    background-position-x: 10vw;
  }
  @media (min-width: 1850px) {
    background-size: 75%;
    background-position-x: 9vw;
  }
  @media (min-width: 2150px) {
  background-size: 60%;
  background-position-x: 10vw;
  }
}

.fans {
  grid-area: fans;
  background: var(--purple);
  background-size: contain;
  background-position-x: 20vw;
  background-repeat: no-repeat;
  background-position-y: center;
  transition: background-color ease-in 100ms;
  &::before {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 70%;
    height: 100%;
    background: radial-gradient(at 0% 90%, var(--purple), #B286FE65, #935CF625, #935CF600);
    z-index: 1;
    border-radius: 20px 0 0 20px;
    transition: all ease-in 400ms;
  }
  &:hover {
    background-color: var(--purple-dark);
    &::before {
      display: block;
    }
  }
  @media (min-width: 1050px) {
    background-position: calc(100% + 80px) 0;
  }
  @media (min-width: 1450px) {
    background-position: calc(100% + 40px) 0;
  }
}