.__jivoMobileButton {
  bottom: 4rem !important;
  left: 0.5rem !important;
  z-index: 9990 !important;
}

a {
  color: var(--base-color);
  outline: 0 none;
  text-decoration: none;

  &:focus {
    outline: none;
    outline-offset: -4px;
  }

  &:visited {
    color: var(--base-color-red)
  }

  &:hover {
    color: var(--white);
  }

  & img {
    border: 0;
  }

  &.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--white);
    min-height: 2.5rem;
    height: 2.5rem;
    border-radius: var(--border-radius-5);
    padding: 0 1rem;
    margin: 0 .5rem 0 0;
    font-style: normal;

    &-grey {
      font-style: normal;
      font-weight: normal;
      font-size: .8333rem;
      line-height: 15px;
      background: var(--white-15);
      @media (min-width: 768px) {
        font-size: .9375rem;
      }
      &-border {
        font-style: normal;
        font-weight: normal;
        font-size: .8333rem;
        line-height: 15px;
        border: var(--border-size-input) solid var(--white-15);
        color: var(--white-90);
        @media (min-width: 768px) {
          font-size: .9375rem;
        }
        &:hover {
          color: var(--white) !important;
          background: rgb(255, 133, 0);
          background: -moz-linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
          background: -webkit-linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
          background: linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--base-color)", endColorstr=" var(--base-color-purple) ", GradientType=1);
          border-left: var(--border-size-input) solid var(--base-color);
          border-right: var(--border-size-input) solid var(--base-color-purple);
        }
      }

      &:hover {
        color: var(--white) !important;
        background: rgb(255, 133, 0);
        background: -moz-linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
        background: linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--base-color)", endColorstr=" var(--base-color-purple) ", GradientType=1);
      }
    }


  }

  &.button-color {
    background: var(--black-65);
    background-clip: padding-box;
    border: solid var(--border-size-input) transparent;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 600;
    & > .icon {
      height: .8rem;
      width: .8rem;
      fill: var(--white);
      margin-right: .5rem;
    }

    &_bg-black {
      background: var(--black);
      background-clip: padding-box;
      border: solid var(--border-size-input) transparent;
    }

    &_bg-grey {
      background: var(--menu-bgcolor-button);
      background-clip: padding-box;
      border: solid var(--border-size-input) transparent;
    }

    &:hover {
      color: var(--white) !important;
      background: none
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -2px;
      border-radius: inherit;
      background: rgb(255, 133, 0);
      background: -moz-linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
      background: -webkit-linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
      background: linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--base-color)", endColorstr=" var(--base-color-purple) ", GradientType=1);
    }
  }
}

.maps {
  font-weight: 500;
  color: var(--black);
  background: var(--yellow);
  background: -moz-linear-gradient(0deg, var(--yellow) 0%, var(--yellow-dark) 50%);
  background: -webkit-linear-gradient(0deg, var(--yellow) 0%, var(--yellow-dark) 50%);
  background: linear-gradient(0deg, var(--yellow) 0%, var(--yellow-dark) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--yellow)", endColorstr="var(--yellow-dark)", GradientType=1);

  & svg {
    height: 1rem;
    width: 1rem;
    stroke: var(--black-90);
    margin-right: .5rem;
  }

  &:hover {
    color: var(--black) !important;
    background: var(--yellow-darkest);
  }
}


input[type="password"] {
  color: var(--white-90);
  letter-spacing: 2px;

  &:disabled {
    color: var(--white-15) !important;
    border: var(--border-size-input) solid var(--white-10) !important;
  }
}

input[type=file] {
  color: var(--base-color);
  padding: .5rem;
  cursor: pointer;
  height: 100%;

  &::file-selector-button {
    background: var(--white-15);
    color: var(--white);
    transition: .5s;
    border-radius: 5px;
    margin-right: 1rem;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      background: rgb(255, 133, 0);
      background: -moz-linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
      background: -webkit-linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
      background: linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--base-color)", endColorstr=" var(--base-color-purple) ", GradientType=1);
    }
  }

  &:hover::file-selector-button {
    background: rgb(255, 133, 0);
    background: -moz-linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
    background: linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--base-color)", endColorstr=" var(--base-color-purple) ", GradientType=1);
  }

  &:disabled {
    color: var(--white-15) !important;
    border: var(--border-size-input) solid var(--white-10) !important;
    pointer-events:none;
    &::file-selector-button, &:hover::file-selector-button {
      color: var(--white-20);
      background: var(--white-10);
      pointer-events:none;
    }

  }
}

input[type="text"], input, textarea {
  position: relative;
  background: var(--black);
  color: var(--white-90);
  border-radius: var(--border-radius-5);
  border: var(--border-size-input) solid var(--white-35);
  outline: none;
  min-height: 2.6667rem;
  height: 2.6667rem;
  padding: 0 1rem;
  margin: .65rem 0;
  &:focus, &:active {
    color: var(--white);
    border-radius: var(--border-radius-5);
    border-left: var(--border-size-input) solid var(--base-color);
    border-right: var(--border-size-input) solid var(--base-color-purple);
    background-image: linear-gradient(var(--black), var(--black)), linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-top: var(--border-size-input) solid transparent;
    border-bottom: var(--border-size-input) solid transparent;
  }
  &:disabled {
    color: var(--white-15) !important;
    border: var(--border-size-input) solid var(--white-10) !important;
    pointer-events:none;
    &:focus, &:active {
      color: var(--white-15) !important;
      border: var(--border-size-input) solid var(--white-10) !important;
    }
  }
}
input[type="button"].color, button.color, input[type="submit"] {
  border-radius: var(--border-radius-5);
  border-left: var(--border-size-input) solid var(--base-color);
  border-right: var(--border-size-input) solid var(--base-color-purple);
  background-image: linear-gradient(var(--black), var(--black)), linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-top: var(--border-size-input) solid transparent;
  border-bottom: var(--border-size-input) solid transparent;
  & > .icon {
    height: .8rem;
    width: .8rem;
    fill: var(--white);
    margin-right: .5rem;
  }
}
input[type="button"].grey, button.grey {
  background: var(--white-15);
  border-color: transparent;
}
input[type="button"].grey-border, button.grey-border {
  background: none;
  border: var(--border-size-input) solid var(--white-15);
  background-origin: border-box;
}
input[type="button"].grey, button.grey, input[type="button"].grey-border, button.grey-border, input[type="reset"], input[type="submit"] {
  &:focus, &:active, &:hover {
    border-left: var(--border-size-input) solid var(--base-color);
    border-right: var(--border-size-input) solid var(--base-color-purple);
    background-origin: border-box;
  }
}
input[type="button"], input[type="reset"], input[type="submit"], button {
  position: relative;
  border-radius: var(--border-radius-5);
  border: var(--border-size-input) solid var(--white-15);
  outline: none;
  min-height: 2.6667rem;
  height: 2.6667rem;
  padding: 0 1rem;
  &:focus, &:active, &:hover {
    cursor: pointer;
    border-radius: var(--border-radius-5);
    color: var(--white) !important;
    background: rgb(255, 133, 0);
    background: -moz-linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
    background: linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--base-color)", endColorstr=" var(--base-color-purple) ", GradientType=1);
  }
}
input[type="button"], input[type="submit"], button {
  color: var(--white);
  border-radius: var(--border-radius-5);
  border-left: var(--border-size-input) solid var(--base-color);
  border-right: var(--border-size-input) solid var(--base-color-purple);
  background-image: linear-gradient(var(--black-75), var(--black-75)), linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-top: var(--border-size-input) solid transparent;
  border-bottom: var(--border-size-input) solid transparent;
  &:disabled {
    color: var(--white-15) !important;
    border: var(--border-size-input) solid var(--white-10) !important;
    pointer-events:none !important;
    background: var(--black-10) !important;
    &:focus, &:active {
      color: var(--white-15) !important;
      border: var(--border-size-input) solid transparent !important;
      border-image: linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%) !important;
      -moz-border-image: -moz-linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%) !important;
      -webkit-border-image: -webkit-linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%) !important;
      border-image-slice: 1 !important;
    }
  }
}

input[type="button"].clear-button, input[type="submit"].clear-button, button.clear-button {
  color: var(--white-75);
  background: none !important;
  outline: none !important;
  border: none !important;
  &:hover {
    color: var(--white);
  }
}

.menu-h {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2.5rem 0 !important;
  & li {
    background: var(--white-10);
    color: var(--white);
    flex: 1;
    &.selected {
      background: rgb(255, 133, 0);
      background: -moz-linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
      background: -webkit-linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
      background: linear-gradient(90deg, rgba(255, 133, 0, 1) 0%, rgba(209, 5, 12, 1) 50%, rgba(115, 40, 205, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--base-color)", endColorstr=" var(--base-color-purple) ", GradientType=1);
    }
    & a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 1rem;
      text-align: center;
      color: var(--white);
      &:hover {
        background: var(--base-color);
      }
    }
  }
}



.series-agon-pro {

  & a {
    color: var(--base-color-agon-pro-2);
    &.button {
      color: var(--white) !important;
      &-grey {
        color: var(--white) !important;
        &-border {
          color: var(--white) !important;
          &:hover {
            background: var(--base-color-agon-pro-2);
            background: -moz-linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%);
            background: -webkit-linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%);
            background: linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--base-color-agon-pro-2)",endColorstr="var(--base-color-agon-pro-3)",GradientType=1);
          }
        }
      }
    }

    &.button-color {
      &::after {
        background: var(--base-color-agon-pro-2);
        background: -moz-linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%);
        background: -webkit-linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%);
        background: linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--base-color-agon-pro-2)",endColorstr="var(--base-color-agon-pro-3)",GradientType=1);
      }
    }
  }

  & input[type=file] {
    color: var(--base-color-agon-pro-2);

    &::file-selector-button {
      &:hover {
        background: var(--base-color-agon-pro-2);
        background: -moz-linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%);
        background: -webkit-linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%);
        background: linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--base-color-agon-pro-2)",endColorstr="var(--base-color-agon-pro-3)",GradientType=1);
      }
    }

    &:hover::file-selector-button {
      background: var(--base-color-agon-pro-2);
      background: -moz-linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%);
      background: -webkit-linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%);
      background: linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--base-color-agon-pro-2)",endColorstr="var(--base-color-agon-pro-3)",GradientType=1);
    }
  }

  & input[type="text"], input, textarea {
    &:focus, &:active {
      border-left: var(--border-size-input) solid var(--base-color-agon-pro-1);
      border-right: var(--border-size-input) solid var(--base-color-agon-pro-2);
      background-image: linear-gradient(var(--black), var(--black)), linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%);
    }
  }

  & input[type="button"].color, button.color, input[type="submit"] {
    border-left: var(--border-size-input) solid var(--base-color-agon-pro-1);
    border-right: var(--border-size-input) solid var(--base-color-agon-pro-2);
    background-image: linear-gradient(var(--black), var(--black)), linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%);
  }
  & input[type="button"].grey, button.grey, input[type="button"].grey-border, button.grey-border, input[type="reset"], input[type="submit"] {
    &:focus, &:active, &:hover {
      border-left: var(--border-size-input) solid var(--base-color-agon-pro-1);
      border-right: var(--border-size-input) solid var(--base-color-agon-pro-3);
    }
  }
  & input[type="button"], input[type="reset"], input[type="submit"], button {
    &:focus, &:active, &:hover {
      background: var(--base-color-agon-pro-2);
      background: -moz-linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%);
      background: -webkit-linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%);
      background: linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--base-color-agon-pro-2)",endColorstr="var(--base-color-agon-pro-3)",GradientType=1);
    }
  }
  & input[type="button"], input[type="submit"], button {
    background-image: linear-gradient(var(--black), var(--black)), linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%);
    &:disabled {
      &:focus, &:active {
        border-image: linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%) !important;
        -moz-border-image: -moz-linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%) !important;
        -webkit-border-image: -webkit-linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%) !important;
        border-image-slice: 1 !important;
      }
    }
  }

  & .menu-h {
    & li {
      &.selected {
        background: var(--base-color-agon-pro-2);
        background: -moz-linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%);
        background: -webkit-linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%);
        background: linear-gradient(90deg, var(--base-color-agon-pro-1) 0%, var(--base-color-agon-pro-2) 50%, var(--base-color-agon-pro-3) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--base-color-agon-pro-2)",endColorstr="var(--base-color-agon-pro-3)",GradientType=1);
      }
      & a {
        &:hover {
          background: var(--base-color-agon-pro-2);
        }
      }
    }
  }

}

.series-agon {
  & a {
    color: var(--base-color-agon-2);
    &.button {
      color: var(--white) !important;
      &-grey {
        color: var(--white) !important;
        &-border {
          color: var(--white) !important;
          &:hover {
            background: var(--base-color-agon-2);
            background: -moz-linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%);
            background: -webkit-linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%);
            background: linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--base-color-agon-2)",endColorstr="var(--base-color-agon-3)",GradientType=1);
          }
        }
      }
    }

    &.button-color {
      &::after {
        background: var(--base-color-agon-2);
        background: -moz-linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%);
        background: -webkit-linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%);
        background: linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--base-color-agon-2)",endColorstr="var(--base-color-agon-3)",GradientType=1);
      }
    }
  }

  & input[type=file] {
    color: var(--base-color-agon-2);

    &::file-selector-button {
      &:hover {
        background: var(--base-color-agon-2);
        background: -moz-linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%);
        background: -webkit-linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%);
        background: linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--base-color-agon-2)",endColorstr="var(--base-color-agon-3)",GradientType=1);
      }
    }

    &:hover::file-selector-button {
      background: var(--base-color-agon-2);
      background: -moz-linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%);
      background: -webkit-linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%);
      background: linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--base-color-agon-2)",endColorstr="var(--base-color-agon-3)",GradientType=1);
    }
  }

  & input[type="text"], input, textarea {
    &:focus, &:active {
      border-left: var(--border-size-input) solid var(--base-color-agon-1);
      border-right: var(--border-size-input) solid var(--base-color-agon-2);
      background-image: linear-gradient(var(--black), var(--black)), linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%);
    }
  }
  & input[type="button"].color, button.color, input[type="submit"] {
    border-left: var(--border-size-input) solid var(--base-color-agon-1);
    border-right: var(--border-size-input) solid var(--base-color-agon-2);
    background-image: linear-gradient(var(--black), var(--black)), linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%);
  }
  & input[type="button"].grey, button.grey, input[type="button"].grey-border, button.grey-border, input[type="reset"], input[type="submit"] {
    &:focus, &:active, &:hover {
      border-left: var(--border-size-input) solid var(--base-color-agon-1);
      border-right: var(--border-size-input) solid var(--base-color-agon-3);
      background-origin: border-box;
    }
  }
  & input[type="button"], input[type="reset"], input[type="submit"], button {
    &:focus, &:active, &:hover {
      background: var(--base-color-agon-2);
      background: -moz-linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%);
      background: -webkit-linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%);
      background: linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--base-color-agon-2)",endColorstr="var(--base-color-agon-3)",GradientType=1);
    }
  }
  & input[type="button"], input[type="submit"], button {
    background-image: linear-gradient(var(--black), var(--black)), linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%);
    &:disabled {
      &:focus, &:active {
        border-image: linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%) !important;
        -moz-border-image: -moz-linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%) !important;
        -webkit-border-image: -webkit-linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%) !important;
        border-image-slice: 1 !important;
      }
    }
  }

  & .menu-h {
    & li {
      &.selected {
        background: var(--base-color-agon-2);
        background: -moz-linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%);
        background: -webkit-linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%);
        background: linear-gradient(90deg, var(--base-color-agon-1) 0%, var(--base-color-agon-2) 50%, var(--base-color-agon-3) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--base-color-agon-2)",endColorstr="var(--base-color-agon-3)",GradientType=1);
      }
      & a {
        &:hover {
          background: var(--base-color-agon-2);
        }
      }
    }
  }

}

.series-b2b {
  & a {
    color: var(--aoc-b2b);
    &.button {
      color: var(--white) !important;
      &-grey {
        color: var(--white) !important;
        &-border {
          color: var(--white) !important;
          &:hover {
            background: var(--aoc-b2b);
            background: -moz-linear-gradient(90deg, var(--aoc-b2b) 0%, var(--aoc-b2b) 50%, var(--aoc-b2b) 100%);
            background: -webkit-linear-gradient(90deg, var(--aoc-b2b) 0%, var(--aoc-b2b) 50%, var(--aoc-b2b) 100%);
            background: linear-gradient(90deg, var(--aoc-b2b) 0%, var(--aoc-b2b) 50%, var(--aoc-b2b) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--aoc-b2b)",endColorstr="var(--aoc-b2b)",GradientType=1);
          }
        }
      }
    }

    &.button-color {
      &::after {
        background: var(--aoc-b2b);
        background: -moz-linear-gradient(90deg, var(--aoc-b2b) 0%, var(--aoc-b2b) 50%, var(--aoc-b2b) 100%);
        background: -webkit-linear-gradient(90deg, var(--aoc-b2b) 0%, var(--aoc-b2b) 50%, var(--aoc-b2b) 100%);
        background: linear-gradient(90deg, var(--aoc-b2b) 0%, var(--aoc-b2b) 50%, var(--aoc-b2b) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--aoc-b2b)",endColorstr="var(--aoc-b2b)",GradientType=1);
      }
    }
  }

  & input[type=file] {
    color: var(--aoc-b2b);

    &::file-selector-button {
      &:hover {
        background: var(--aoc-b2b);
        background: -moz-linear-gradient(90deg, var(--aoc-b2b) 0%, var(--aoc-b2b) 50%, var(--aoc-b2b) 100%);
        background: -webkit-linear-gradient(90deg, var(--aoc-b2b) 0%, var(--aoc-b2b) 50%, var(--aoc-b2b) 100%);
        background: linear-gradient(90deg, var(--aoc-b2b) 0%, var(--aoc-b2b) 50%, var(--aoc-b2b) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--aoc-b2b)",endColorstr="var(--aoc-b2b)",GradientType=1);
      }
    }

    &:hover::file-selector-button {
      background: var(--aoc-b2b);
      background: -moz-linear-gradient(90deg, var(--aoc-b2b) 0%, var(--aoc-b2b) 50%, var(--aoc-b2b) 100%);
      background: -webkit-linear-gradient(90deg, var(--aoc-b2b) 0%, var(--aoc-b2b) 50%, var(--aoc-b2b) 100%);
      background: linear-gradient(90deg, var(--aoc-b2b) 0%, var(--aoc-b2b) 50%, var(--aoc-b2b) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--aoc-b2b)",endColorstr="var(--aoc-b2b)",GradientType=1);
    }
  }

  & input[type="text"], input, textarea {
    &:focus, &:active {
      border-left: var(--border-size-input) solid var(--aoc-b2b);
      border-right: var(--border-size-input) solid var(--aoc-b2b);
      background-image: linear-gradient(var(--black), var(--black)), linear-gradient(90deg, var(--aoc-b2b) 0%, var(--aoc-b2b) 50%, var(--aoc-b2b) 100%);
    }
  }
  & input[type="button"].color, button.color, input[type="submit"] {
    border-left: var(--border-size-input) solid var(--aoc-b2b);
    border-right: var(--border-size-input) solid var(--aoc-b2b);
    background-image: linear-gradient(var(--black), var(--black)), linear-gradient(90deg, var(--aoc-b2b) 0%, var(--aoc-b2b) 50%, var(--aoc-b2b) 100%);
  }
  & input[type="button"].grey, button.grey, input[type="button"].grey-border, button.grey-border, input[type="reset"], input[type="submit"] {
    &:focus, &:active, &:hover {
      border-left: var(--border-size-input) solid var(--aoc-b2b);
      border-right: var(--border-size-input) solid var(--aoc-b2b);
      background-origin: border-box;
    }
  }
  & input[type="button"], input[type="reset"], input[type="submit"], button {
    &:focus, &:active, &:hover {
      background: var(--aoc-b2b);
      background: -moz-linear-gradient(90deg, var(--aoc-b2b) 0%, var(--aoc-b2b) 50%, var(--aoc-b2b) 100%);
      background: -webkit-linear-gradient(90deg, var(--aoc-b2b) 0%, var(--aoc-b2b) 50%, var(--aoc-b2b) 100%);
      background: linear-gradient(90deg, var(--aoc-b2b) 0%, var(--aoc-b2b) 50%, var(--aoc-b2b) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--aoc-b2b)",endColorstr="var(--aoc-b2b)",GradientType=1);
    }
  }
  & input[type="button"], input[type="submit"], button {
    background-image: linear-gradient(var(--black), var(--black)), linear-gradient(90deg, var(--aoc-b2b) 0%, var(--aoc-b2b) 50%, var(--aoc-b2b) 100%);
    &:disabled {
      &:focus, &:active {
        border-image: linear-gradient(90deg, var(--aoc-b2b) 0%, var(--aoc-b2b) 50%, var(--aoc-b2b) 100%) !important;
        -moz-border-image: -moz-linear-gradient(90deg, var(--aoc-b2b) 0%, var(--aoc-b2b) 50%, var(--aoc-b2b) 100%) !important;
        -webkit-border-image: -webkit-linear-gradient(90deg, var(--aoc-b2b) 0%, var(--aoc-b2b) 50%, var(--aoc-b2b) 100%) !important;
        border-image-slice: 1 !important;
      }
    }
  }

  & .menu-h {
    & li {
      &.selected {
        background: var(--aoc-b2b);
        background: -moz-linear-gradient(90deg, var(--aoc-b2b) 0%, var(--aoc-b2b) 50%, var(--aoc-b2b) 100%);
        background: -webkit-linear-gradient(90deg, var(--aoc-b2b) 0%, var(--aoc-b2b) 50%, var(--aoc-b2b) 100%);
        background: linear-gradient(90deg, var(--aoc-b2b) 0%, var(--aoc-b2b) 50%, var(--aoc-b2b) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--aoc-b2b)",endColorstr="var(--aoc-b2b)",GradientType=1);
      }
      & a {
        &:hover {
          background: var(--aoc-b2b);
        }
      }
    }
  }
}