.__jivoMobileButton {
  bottom: 4rem !important;
  left: 0.5rem !important;
  z-index: 9990 !important;
}

.button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  transition: all 300ms linear;
  position: relative;
  overflow: hidden;
  &__normal {
    &--base-color, &--white-color {
      border-radius: calc(var(--curve) * 0.25px);
      align-items: stretch;
      max-width: max-content;
      padding: .75rem 1rem;
      font-weight: 300;
    }
    &--base-color {
      background: var(--blue);
      color: var(--white);
      &:hover, &:active {
        background: var(--blue-darkest);
        color: var(--white);
      }
    }
    &--white-color {
      background: var(--white);
      color: var(--black);
      &:hover, &:active {
        background: var(--blue);
        color: var(--white);
      }
    }
  }
  &__big {
    &--icon {
      border-radius: calc(var(--curve) * 0.5px);
      background: radial-gradient(at top, var(--purple), var(--purple-dark));
      color: var(--white);
      margin-top: 3rem;
      align-items: stretch;
      max-width: 320px;
      & span.button__text {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        font-weight: 300;
        font-size: 0.75rem;
        text-transform: uppercase;
        color: var(--black-dark);
        padding: 1.35rem 2rem;
        z-index: 3;
        & strong {
          text-transform: none;
          color: var(--white);
          font-size: 1.3rem;
          margin-top: 0.5rem;
          font-weight: 500;
        }
      }
      & span.button__icon {
        display: flex;
        width: 80px;
        height: auto;
        border-left: 1px solid rgb(1 2 16 / 15%);
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-left: auto;
        z-index: 3;
          & svg {
            width: 32px;
            height: 32px;
            fill: var(--white);
          }
      }
      &:hover {
        background: radial-gradient(at top, var(--purple), var(--purple-darkest));
        box-shadow: #01021085 0 8px 24px;
      }
    }
  }
}