.icon {
  width: 1.5rem;
  height: 1.5rem;
  @media (min-width: 1250px) {
    width: 2rem;
    height: 2rem;
  }
}
.small-icon {
  width: .85rem;
  height: .85rem;
  @media (min-width: 768px) {
    width: 1rem;
    height: 1rem;
  }
}