:root {
  --black: #0A111E;
  --black-dark: #171717;
  --white: #ffffff;
  --grey: #cccccc;
  --grey-dark: #acaeaf;
  --blue: #00aeee;
  --blue-dark: #009cd6;
  --blue-darkest: #00688e;
  --blue-secondary: #526A7C;
  --purple: #993399;
  --purple-dark: #892D89;
  --purple-darkest: #5B1E5B;
  --red: #ff0024;
}