:root {
  --black: #171717;
  --white: #ffffff;
  --grey: #cccccc;
  --blue: #00aeee;
  --blue-dark: #009cd6;
  --blue-darkest: #00688e;
  --purple: #993399;
  --purple-dark: #892D89;
  --purple-darkest: #5B1E5B;
}